
<div id="balls-selector-container">
    <div *ngIf="!winnerBall" id="selection-phase-holder">
        <div class="header">
            {{'BallSelector.Numbers' | translate}}
        </div>
        <div>
            <ng-container *ngFor="let ball of ballsList">
                <app-ball
                    [number]="ball"
                    (ballSelected)="selection($event)"
                ></app-ball>
            </ng-container>
        </div>
        <div id="clear-div">
            <p (click)="resetList()" class="pointer">
                {{'BallSelector.ClearSelection' | translate}}
            </p>
        </div>
    </div>
    
    <div *ngIf="winnerBall" id="result-phase-holder">
        <div class="header">
            {{'BallSelector.Result' | translate}}
        </div>
        <div>
            <app-ball
                [number]="winnerBall"
            ></app-ball>
        </div>
        <p *ngIf="ballResult" id="text-won">
            {{'BallSelector.Won' | translate}}
        </p>
        <p *ngIf="!ballResult" id="text-loose">
            {{'BallSelector.Loose' | translate}}
        </p>
    </div>
</div>
